#NameGame {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "header header" "sidebar app";
  height: 100vh; }

#header {
  grid-area: header;
  background-color: #222;
  border-bottom: 1px solid #666; }
  #header li.disabled a {
    color: #666;
    cursor: default; }
  #header li.active {
    background-color: #544B72; }
  #header .right .label {
    margin-right: 10px;
    color: #999; }
  #header .right .user_email {
    color: #FF7C40; }
  #header .right .btn {
    background-color: #444; }
  #header .right #acct-info a {
    cursor: default; }

#sidebar {
  grid-area: sidebar;
  border-right: 1px solid #666;
  padding: 20px 20px 20px 20px; }
  #sidebar #numturns-selector {
    text-align: left; }
    #sidebar #numturns-selector label {
      font-size: 1.2em; }
    #sidebar #numturns-selector p {
      margin: 0px; }
      #sidebar #numturns-selector p input[type="range"] {
        border: none; }
  #sidebar .switch {
    padding: 20px 0px;
    text-align: left; }
    #sidebar .switch label .left-side, #sidebar .switch label .right-side {
      font-size: 1.2em; }
    #sidebar .switch label .left-side {
      display: inline-block;
      width: 75px;
      text-align: right; }
    #sidebar .switch label .lever {
      width: 68px;
      background-color: #424242; }
    #sidebar .switch label input[type="checkbox"]:checked + .lever {
      background-color: #84c7c1; }
    #sidebar .switch label input[type="checkbox"]:checked + .lever::before, #sidebar .switch label input[type="checkbox"]:checked + .lever::after {
      left: 50px; }

#app {
  grid-area: app;
  overflow-x: hidden; }
